
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("landing_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    text-shadow: 0 0.02rem 0.08rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: antiquewhite;
}

main h1{
    margin-bottom: 3rem;
}
main p{
    margin-bottom: 2rem;
}


main .btn{
    color: black;
    
}

main .btn:hover{
    color: rgba(0, 0, 0, 0.425);
    background-color: red;
}
.nav-link{
    font-size: 20px;
    color: antiquewhite;
}

.nav-link.current{
    color: orange;
}

.nav-link:hover{
    color: orange;
}

.nav-item{
    border-radius: 15%;
    border-bottom: 0.25rem solid transparent;
    margin-left: 2rem;

}

.nav-item:hover{
    border-bottom-color:rgba(255,255,255,0.5); 
    
}
.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }

.navbar .navbar-toggler{
    border: 1px solid white;
}
  
  