.nav-link{
    color: rgba(255,255,255,0.5);
}

.nav-link:hover{
    color: white;
}

.nav-item{
    border-radius: 15%;
    border-bottom: 0.25rem solid transparent;
    margin-left: 2rem;

}

.nav-item:hover{
    border-bottom-color:rgba(255,255,255,0.5); 
    
}


  